@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Montserrat&family=Pacifico&family=Staatliches&display=swap');
:root{

    /* Colores */

    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 287,2);
    --blanco: #FFF;

    /* Fuentes */

    --fuentegeneral:  font-family: 'Montserrat', sans-serif;;
    --fuentecruba: font-family: 'Pacifico', cursive;
    --titulos: font-family: 'Staatliches', cursive;
    --pruebas: font-family: 'DotGothic16', sans-serif;;

}

/* G L O B A L E S */

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
   background-color: var(--primario);
   font-size: 1.6rem;
   line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-style: var(--fuentegeneral);
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto; /* para centrar contenido */ 
}

h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--titulos);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

