
:root{

    /* Colores */

    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 287,2);
    --blanco: #FFF;

    /* Fuentes */

    --fuentegeneral:  'Montserrat', sans-serif;;
    --fuentecruba: 'Pacifico', cursive;
    --titulos: 'Staatliches', cursive;
    --pruebas: 'DotGothic16', sans-serif;;

}

/* G L O B A L E S */

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
   background-color: var(--primario);
   font-size: 1.6rem;
   line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: var(--fuentegeneral);
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto; /* para centrar contenido */ 
}

h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--titulos);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

.cruba{
    font-family: var(--fuentecruba);
    color: var(--blanco);
    font-size: 2.5rem;
    text-align: center;
}

.cruba:hover{
    filter: blur(.5rem);
    transition: 1s;
}

/* HEADER */

.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

.navegacion{
background-color: var(--primarioOscuro);
padding: 1rem 0;
display: flex;
justify-content: center;
gap:2rem;
}

.navegacion__enlace{
font-family: var(--titulos);   
 color: var(--blanco);
 font-size: 3rem;
 margin-right: 2rem;
}

.navegacion__enlace:last-of-type{
    margin-right: 0;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

.footer{
    display: flex;
    justify-content: center;
background-color: var(--primarioOscuro);
padding: 1rem 0;
margin-top: 2rem;
}

.footer__texto{
text-align: center;
font-family: var(--pruebas);
}

.footer > .cruba{
    padding:  1rem ;
    margin-top: 0;
}