
:root{

    /* Colores */

    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 287,2);
    --blanco: #FFF;

    /* Fuentes */

    --fuentegeneral:  'Montserrat', sans-serif;;
    --fuentecruba: 'Pacifico', cursive;
    --titulos: 'Staatliches', cursive;
    --pruebas: 'DotGothic16', sans-serif;;

}

/* G L O B A L E S */

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
   background-color: var(--primario);
   font-size: 1.6rem;
   line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: var(--fuentegeneral);
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto; /* para centrar contenido */ 
}

h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--titulos);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

.cruba{
    font-family: var(--fuentecruba);
    color: var(--blanco);
    font-size: 2.5rem;
    text-align: center;
}

.cruba:hover{
    filter: blur(.5rem);
    transition: 1s;
}

/* HEADER */

.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

.navegacion{
background-color: var(--primarioOscuro);
padding: 1rem 0;
display: flex;
justify-content: center;
gap:2rem; /* no esta implementado en todos los navegadores */
}

.navegacion__enlace{
font-family: var(--titulos);   
 color: var(--blanco);
 font-size: 3rem;
 margin-right: 2rem; /* se usa en lugar del gap */
}

.navegacion__enlace:last-of-type{
    margin-right: 0; /* ultimo elemento, quita el margin para respestar centrado */
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

/* Pie de Pagina */
.footer{
    display: flex;
    justify-content: center;
background-color: var(--primarioOscuro);
padding: 1rem 0;
margin-top: 2rem;
}

.footer__texto{
text-align: center;
font-family: var(--pruebas);
}

.footer > .cruba{
    padding:  1rem ;
    margin-top: 0;
}
/* G R I D */

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

@media (min-width: 768px ){
    .grid{
        grid-template-columns: repeat(3, 1fr);

    }
    
}

/* SECCION PRODUCTOS */

.producto{
    padding: 1rem;
    background-color: var(--primarioOscuro);
}

.producto__imagen{
    width: 100%;
}

.producto__info{

}

.producto__nombre{
    font-size: 3rem;
}

.producto__precio{
    font-size: 2rem;
    color: var(--secundario);
}

.producto__nombre, .producto__precio{
margin:1rem;
text-align: center;
line-height: 1.2;
}

/* Grafico */

.grafico{

    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;


}

.grafico--camisas{
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);

}

.grafico--nodejs{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;

}

@media (min-width:768px )
{
    .grafico--nodejs{
        grid-row:5 / 6;
        grid-column: 2 / 4;
        
    
    }
}

/* N O S O T R O S  */

.nosotros{
    display: grid;
    grid-auto-rows: repeat(2, auto);
}

@media (min-width: 768px ){
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        
        }
    
}

.nosotros__contenido{

    text-align: justify;

}

.nosotros__imagen{

    grid-row:1/2;
    width: 100%;


}

@media (min-width: 768px ){
    .nosotros__imagen{
        grid-column:2/3;
    }
}